* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: var(--black);
  width: 100%;
  overflow-x: hidden;
}

:root {
  --white: #ffffff;
  --black: #3c4155;
  --gray: #d1d7d5;
  --dark-green: #338143;
  --medium-green: #ddefdf;
  --light-green: #f1fcf4;
}

header {
  width: 90%;
  justify-self: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 10rem;
  border-radius: 0;
}

.header-center {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-center nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header-center nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-green);
}

.header-center li {
  transition: all 300ms ease;
}

.header-center li:hover {
  transform: scale(1.04);
}

.mission {
  width: 90%;
  justify-self: center;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

.mission p {
  text-align: justify;
  margin-bottom: 2rem;
  line-height: 1.9;
  font-size: 1.1rem;
}

.mission img {
  width: 100%;
  border-radius: 2rem;
}

.mission figcaption {
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 1rem;
  padding: 1rem;
  background-color: var(--light-green);
  border: 1px solid var(--gray);
  border-radius: 1.2rem;
  transition: all 300ms ease;
}

.card-container:hover {
  background-color: var(--medium-green);
  transform: scale(1.02);
}

.title {
  font-size: 2rem;
  text-align: center;
}

.description-title {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.scientific-team,
.study-area {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  width: 90%;
  justify-self: center;
}

.team,
.areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.areas picture img {
  width: 1rem;
}

.profile-img {
  width: 5rem;
  border-radius: 50px;
}

#background-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  margin-top: 4rem;
}

#form-container {
  background-color: var(--medium-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 4rem 2rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-title {
  margin-bottom: 2rem;
}

#form-container h2 {
  text-align: center;
  color: var(--black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-input label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--dark-green);
}

.container-input input,
.container-input textarea {
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.container-input select {
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  font-size: 1rem;
}

#radio {
  display: flex;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#button-submit,
#clean {
  padding: 0.4rem 5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.sector {
  color: var(--dark-green);
}

.footer {
  /* width: 100vw; */
  background: var(--medium-green);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  row-gap: 1rem;
  font-size: .7rem;
}

.uespi-logo p, .rights {
  text-align: center;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}

.footer a {
  text-decoration: none;
  color: var(--black);
}

.uespi-logo figure, img{
  width: 10rem;
  justify-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

@media (min-width: 700px) {
  .mission p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.7;
  }

  .mission img {
    width: 100%;
  }

  .areas,
  .team {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .form-title {
    font-size: 0.8rem;
    text-align: center;
  }

  .mission p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-input input {
    width: 90%;
  }

  .container-input textarea {
    width: 90%;
  }

  .container-input select {
    width: 90%;
  }

  #button-container button {
    padding: 0.4rem 3rem;
  }

  #radio-container{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
  }
}