* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: var(--black);
  width: 100%;
  overflow-x: hidden;
}

:root {
  --white: #ffffff;
  --black: #3c4155;
  --gray: #d1d7d5;
  --dark-green: #338143;
  --medium-green: #ddefdf;
  --light-green: #f1fcf4;
}

header {
  width: 90%;
  justify-self: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-center {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-center nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header-center nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-green);
}

.header-center li {
  transition: all 300ms ease;
}

.header-center li:hover {
  transform: scale(1.04);
}

.mission {
  width: 90%;
  justify-self: center;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

.mission p {
  text-align: justify;
  margin-bottom: 2rem;
  line-height: 1.9;
  font-size: 1.1rem;
}

.mission img {
  width: 100%;
  border-radius: 2rem;
}

.mission figcaption {
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 1rem;
  padding: 1rem;
  background-color: var(--light-green);
  border: 1px solid var(--gray);
  border-radius: 1.2rem;
  transition: all 300ms ease;
}

.card-container:hover {
  background-color: var(--medium-green);
  transform: scale(1.02);
}

.title {
  font-size: 2rem;
  text-align: center;
}

.description-title {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.scientific-team, .study-area{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  width: 90%;
  justify-self: center;
}

.team, .areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.profile-img {
  width: 5rem;
  border-radius: 50px;
}

.sector{
  color: var(--dark-green);
}

@media (min-width: 600px) {
    header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

@media (min-width: 700px) {
  .mission p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.7;
  }

  .mission img {
    width: 100%;
  }

  .areas, .team {
    grid-template-columns: 1fr 1fr 1fr;
  }
}